body {
  background: #111 url(bg_main.gif);
  max-width: 700px;
  font-size: 16px;
  margin: auto;
  color: #e0d0d0;
  font: 16px/1.4 "Helvetica Neue", sans-serif;
}

a,
a:active,
a:visited {
  color: #aaf;
  text-decoration: none;
}

.topnav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 48px;
  left: 0;
  background: #01335c url(bg_top.gif);
}

#logo {
  display: block;
  width: 280px;
  height: 48px;
  background: transparent url(logo_small.png) no-repeat
    0 1px;
  display: block;
  overflow: hidden;
  text-indent: -10000px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: rgb(112, 112, 112);
}

canvas {
  border: 5px solid rgb(0, 0, 0);
}
